/* 
    Document   : style
    Created on : Jan 5, 2015, 2:19:42 PM
    Author     : siddharthk
    Description:
        Purpose of the stylesheet follows.
*/

*
{
	font-family: Calibri, Verdana, Tahoma, Arial, sans-serif;
}

div#header
{
	background-color: #455560;
}

div#header-copy
{
        margin: 0px auto 0px auto;
}

div#header h1
{
	width: 138px;
	padding: 5px 10px 3px 9px;
}

div#header h1 a
{
        background-image: url('../img/layout/header-logo.png');
        /*background-position: -25px -1px;*/
	background-repeat: no-repeat;
	display: block;
	height: 41px;
        overflow: auto;
	text-indent: -5000px;
}

#header #lnk-logout {
         color: #fff;
        float: right;
        font-weight: bold;
        margin-right: 10px;
        margin-top: -54px;
        text-align: right;
        width: 400px;
}

#lnk-logout a {
        color: #fff;
        text-decoration: none;
}

h2 {
    margin: 10px 0 0;
    padding: 0;
    width: 100%;
    /*background-color: #82C342;*/
    text-transform: uppercase;
    /*color: #FFFFFF;*/
    font-weight: bold;
    font-size: 28px;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}

h2 span {
    display: block;
    /*float: left;*/
    padding: 5px 0 5px 10px;
    height: 34px;
}

#dataTable div.jqx-checkbox {
        margin: 12px 13px !important;
}

#uploadForm .submit {
    margin-top: 10px;
    text-align: center;
}

#uploadForm .submit input {
    font-size: 14px;
    padding: 5px;
    float: none;
}

#uploadForm {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 700px;
}

#uploadForm div.input {
    padding-top: 10px;
}

#uploadForm label {
    display: block;
    float: left;
    width: 300px;
    text-align: right;
    padding-right: 7px;
}

.stage-won {
        background-color: #a2d108 !important;
        /*color: #444e53 !important;*/
}

.stage-live {
        background-color: #f27c0d !important;
        /*color: #444e53 !important;*/
}

.stage-lost {
        background-color: #bf1527 !important;
        color: #fff !important;
}

.empty-cell {
        background-color: #d1d1d1 !important;
}

#nav-menu div {
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        line-height: 26px;
        display: inline-block;
        margin-right: 5px;
}

#nav-menu div a {
        font-family: Calibri, Verdana, Tahoma, Arial, sans-serif;
        font-size: 21px;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        line-height: 22px;
        text-align: center;
        padding: 10px 10px 10px;
        border-width: 3px;
        border-style: solid;
        display: inline-block;
        position:relative; z-index:1;
}

#nav-menu div.green a {
        color: #fefefe;
        border-color: #a2d108;
        background-color: #a2d108;
}

#nav-menu div.green a:after {
        background-color: #fefefe;
        content: "";
        position:absolute;
        bottom:0; left:0;
        width:100%; height:0px;
        z-index:-1;
        transition: height 0.2s;
}

#nav-menu div.green a:hover:after { 
        height:100%;
}

#nav-menu div.green a:hover { 
        color: #a2d108;
}

#nav-menu div.green.selected a {
        color: #a2d108 !important;
        background-color: #fefefe;
}

#nav-menu div.grey a {
        color: #fefefe;
        border-color: #444e53;
        background-color: #444e53;
}

#nav-menu div.grey a:after {
        background-color: #fefefe;
        content: "";
        position:absolute;
        bottom:0; left:0;
        width:100%; height:0px;
        z-index:-1;
        transition: height 0.2s;
}

#nav-menu div.grey a:hover:after { 
        height:100%;
}

#nav-menu div.grey a:hover { 
        color: #444e53;
}

#nav-menu div.grey.selected a {
        color: #444e53 !important;
        background-color: #fefefe;
}

#nav-menu div.orange a {
        color: #fefefe;
        border-color: #f27c0d;
        background-color: #f27c0d;
}

#nav-menu div.orange a:after {
        background-color: #fefefe;
        content: "";
        position:absolute;
        bottom:0; left:0;
        width:100%; height:0px;
        z-index:-1;
        transition: height 0.2s;
}

#nav-menu div.orange a:hover:after { 
        height:100%;
}

#nav-menu div.orange a:hover { 
        color: #f27c0d;
}

#nav-menu div.orange.selected a {
        color: #f27c0d !important;
        background-color: #fefefe;
}

#nav-menu div.blue a {
        color: #fefefe;
        border-color: #1150a2;
        background-color: #1150a2;
}

#nav-menu div.blue a:after {
        background-color: #fefefe;
        content: "";
        position:absolute;
        bottom:0; left:0;
        width:100%; height:0px;
        z-index:-1;
        transition: height 0.2s;
}

#nav-menu div.blue a:hover:after { 
        height:100%;
}

#nav-menu div.blue a:hover { 
        color: #1150a2;
}

#nav-menu div.blue.selected a {
        color: #1150a2 !important;
        background-color: #fefefe;
}

#nav-menu div.red a {
        color: #fefefe;
        border-color: #bf1527;
        background-color: #bf1527;
}

#nav-menu div.red a:after {
        background-color: #fefefe;
        content: "";
        position:absolute;
        bottom:0; left:0;
        width:100%; height:0px;
        z-index:-1;
        transition: height 0.2s;
}

#nav-menu div.red a:hover:after { 
        height:100%;
}

#nav-menu div.red a:hover { 
        color: #bf1527;
}

#nav-menu div.red.selected a {
        color: #bf1527 !important;
        background-color: #fefefe;
}

#nav-menu div.light-grey a {
        color: #fefefe;
        border-color: #9ca0a3;
        background-color: #9ca0a3;
}

#nav-menu div.light-grey a:after {
        background-color: #fefefe;
        content: "";
        position:absolute;
        bottom:0; left:0;
        width:100%; height:0px;
        z-index:-1;
        transition: height 0.2s;
}

#nav-menu div.light-grey a:hover:after { 
        height:100%;
}

#nav-menu div.light-grey a:hover { 
        color: #9ca0a3;
}

#nav-menu div.light-grey.selected a {
        color: #9ca0a3 !important;
        background-color: #fefefe;
}

#nav-menu div.light-torquoise a {
        color: #fefefe;
        border-color: #61b0af;
        background-color: #61b0af;
}

#nav-menu div.light-torquoise a:after {
        background-color: #fefefe;
        content: "";
        position:absolute;
        bottom:0; left:0;
        width:100%; height:0px;
        z-index:-1;
        transition: height 0.2s;
}

#nav-menu div.light-torquoise a:hover:after { 
        height:100%;
}

#nav-menu div.light-torquoise a:hover { 
        color: #61b0af;
}

#nav-menu div.light-torquoise.selected a {
        color: #61b0af !important;
        background-color: #fefefe;
}

#nav-menu div.dark-torquoise a {
        color: #fefefe;
        border-color: #348083;
        background-color: #348083;
}

#nav-menu div.dark-torquoise a:after {
        background-color: #fefefe;
        content: "";
        position:absolute;
        bottom:0; left:0;
        width:100%; height:0px;
        z-index:-1;
        transition: height 0.2s;
}

#nav-menu div.dark-torquoise a:hover:after { 
        height:100%;
}

#nav-menu div.dark-torquoise a:hover { 
        color: #348083;
}

#nav-menu div.dark-torquoise.selected a {
        color: #348083 !important;
        background-color: #fefefe;
}


#tab-menu div {
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        line-height: 26px;
        display: inline-block;
        margin-right: 5px;
        margin-top: 10px;
        margin-bottom: 5px;
}

#tab-menu div.light-grey a {
        font-family: Calibri, Verdana, Tahoma, Arial, sans-serif;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        color: #fefefe;
        background-color: #9ca0a3;
        text-decoration: none;
        line-height: 22px;
        text-align: center;
        padding: 16px 30px 15px;
        border-width: 3px;
        border-color: #9ca0a3;
        border-style: solid;
        display: inline-block;
        position:relative; z-index:1;
}

#tab-menu div.light-grey a:after {
        background-color: #fefefe;
        content: "";
        position:absolute;
        bottom:0; left:0;
        width:100%; height:0px;
        z-index:-1;
        transition: height 0.2s;
}

#tab-menu div.light-grey a:hover:after { 
        height:100%;
}

#tab-menu div.light-grey a:hover { 
        color: #9ca0a3;
}

#tab-menu div.selected a {
        color: #9ca0a3 !important;
        background-color: #fefefe;
}

button#createNew, button#CancelNew, button#SaveNew, button#SaveNewUser, button#UpdateClient, button#CancelUpdate,
button#clearfilteringbutton, button#exporttoexcelbutton, button#exportButton, button#cancelExportButton,
button#CancelNewChapter, button#CancelNewQuestion, button#SaveNewChapter, button#SaveNewQuestion
{
        border: 1px solid #9ca0a3;
        background-color: #fefefe;
        color: #9ca0a3;
        border-radius: 0px;
        padding: 2px 10px;
        font-weight: 500;
        min-height: 24px;
}

button#createNew {
        min-width: 180px;
}

button#CancelNew, button#CancelUpdate, button#exportButton, button#cancelExportButton,
button#CancelNewChapter, button#CancelNewQuestion, button#SaveNewChapter, button#SaveNewQuestion
{
        min-width: 85px;
}

button#SaveNew, button#UpdateClient {
        min-width: 230px;
}

button#SaveNewUser {
        min-width: 100px;
}

button#clearfilteringbutton {
        min-width: 105px;
}

button#exporttoexcelbutton {
        min-width: 120px;
}

button#createNew:hover, button#CancelNew:hover, button#SaveNew:hover, button#SaveNewUser:hover, button#CancelUpdate:hover,
button#UpdateClient:hover, button#clearfilteringbutton:hover, button#exporttoexcelbutton:hover, button#exportButton:hover, button#cancelExportButton:hover,
button#CancelNewChapter:hover, button#CancelNewQuestion:hover, button#SaveNewChapter:hover, button#SaveNewQuestion:hover
{
        font-size: 12px;
        font-weight: 600;
        color: #9ca0a3;
        background-color: #EAE9E9;
        border-color: #EAE9E9;
        line-height: 16px;
}

button.editButtons {
        border: 1px solid #9ca0a3; 
        background-color: #fefefe; 
        color: #9ca0a3;
        border-radius: 0px;
        padding: 2px 10px;
        font-weight: 500;
        min-width: 70px;
        min-height: 24px;
}

button.editButtons:hover {
        font-size: 12px;
        font-weight: 600;
        color: #9ca0a3;
        background-color: #EAE9E9;
        border: none;
}

button.cancelButtons {
        border: 1px solid #9ca0a3; 
        background-color: #fefefe; 
        color: #9ca0a3;
        border-radius: 0px;
        padding: 2px 5px;
        font-weight: 500;
        min-width: 70px;
        min-height: 24px;
}

button.cancelButtons:hover {
        font-size: 12px;
        font-weight: 600;
        color: #9ca0a3;
        background-color: #EAE9E9;
        border: none;
}

button.deleteButtons {
        border: 1px solid #9ca0a3; 
        background-color: #fefefe; 
        color: #9ca0a3;
        border-radius: 0px;
        padding: 2px 5px;
        font-weight: 500;
        min-width: 70px;
        min-height: 24px;
}

button.deleteButtons:hover {
        font-size: 12px;
        font-weight: 600;
        color: #9ca0a3;
        background-color: #EAE9E9;
        border: none;
}

.success {
    margin: 10px;
    border: 1px solid darkgreen;
    padding: 10px;
    background-color: lightgreen;
    color: darkgreen;
}

.success h3 {
    margin: 0;
    padding: 0;
}

.failure {
    margin: 10px;
    border: 1px solid darkred;
    padding: 10px;
    background-color: pink;
    color: darkred;
}

.failure p, .failure span {
    margin: 0px;
    padding: 0px;
}

.analysis {
    margin: 10px;
    border: 1px solid brown;
    padding: 10px;
    background-color: lightyellow;
    color: brown;
}

.analysis p {
    margin: 0px;
    padding: 0px;
}

.grid-cell-highlight {
    border-width: 2px !important;
}

.readonly {
    color: #000; 
    opacity: 0.55;
}

.help-section {
    width: 95%;
    margin: auto;
    padding-bottom: 50px;
}

.chapter {
    padding-bottom: 25px;
}

.chapter-head {
    font-size: 24px;
    border: 1px solid #9ca0a3;
    height: 30px;
    display: inline-block;
    padding: 7px 15px 5px;
    line-height: 30px;
    border-bottom: none;
    font-weight: bold;
    /*min-width: 20%;*/
}

.que-and-ans {
    border: 1px solid #9ca0a3;
    padding: 5px 10px;
}

.question {
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.answer {
    font-size: 16px;
    padding-bottom: 10px;
    padding-left: 25px;
}

.answer > div {
    display: inline;
}

.ask-question input.inp-new-question {
    width: 99%;
    height: 25px;
    margin-bottom: 7px !important;
    padding-left: 7px !important;
}

.ask-question input.inp-user-name {
    width: 25%;
    height: 25px;
    padding-left: 7px !important;
}

.ask-question button.btn-submit-question {
    width: 75px;
    height: 25px;
    float: right;
    border: 1px solid #9ca0a3; 
    background-color: #fefefe; 
    color: #9ca0a3;
    border-radius: 0px;
    padding: 2px 10px;
    font-weight: 500;
    min-height: 24px;
}

.ask-question button.btn-submit-question:hover {
    font-size: 12px;
    font-weight: 600;
    color: #9ca0a3;
    background-color: #EAE9E9;
    border-color: #EAE9E9;
    line-height: 16px;
}

button.btn-create-chapter, button.btn-create-question {
    width: 150px;
    height: 25px;
    border: 1px solid #9ca0a3; 
    background-color: #fefefe; 
    color: #9ca0a3;
    border-radius: 0px;
    padding: 2px 10px;
    margin-right: 10px;
    font-weight: 500;
    min-height: 24px;
}

button.btn-list-questions {
    width: 250px;
    height: 25px;
    border: 1px solid #9ca0a3; 
    background-color: #fefefe; 
    color: #9ca0a3;
    border-radius: 0px;
    padding: 2px 10px;
    margin-right: 10px;
    font-weight: 500;
    min-height: 24px;
}

button.btn-create-chapter:hover, button.btn-create-question:hover, button.btn-list-questions:hover {
    font-size: 12px;
    font-weight: 600;
    color: #9ca0a3;
    background-color: #EAE9E9;
    border-color: #EAE9E9;
    line-height: 16px;
}

